Daymet DeGAUSS Tool and NARR DeGAUSS Tool Comparison to Gold Standard/4_daymet_narr_noaa_validation_files/
Daymet DeGAUSS Tool and NARR DeGAUSS Tool Comparison to Gold Standard/4_daymet_narr_noaa_validation.html